[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mptt = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
cloudinary = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "*"
python_full_version = "*"
